
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@400;700&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, hwb(217 12% 18%), rgb(211, 231, 146));
}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    transform: translateY(-50);
    padding: 20px 30px;
    /* background-color: #ffffffcc ; */
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(63, 92, 104);
    z-index: 2;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {
    font-size: 0.9rem;
    color: #555;
}

.signup-body {
    margin: 20px 0px;
}

.signup-body p {
    margin: 10px 0px;   
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc55;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 3px;
}

.signup-body p input[type="submit"] {
    background-color: rgb(0, 255, 195);
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover {
    background-color: rgb(10, 255, 165);
}

.signup-footer p {
    color: #555;
    text-align: center;
}

.signup-footer p a {
    color: rgb(10, 255, 181);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
}

.c1 {
    background: linear-gradient(to top right, rgb(199, 194, 105), #ffffff);
    top: 80px;
    left: 40px;
}

.c2 {
    background: linear-gradient(to bottom left, rgb(64, 167, 222), #ffffff);
    bottom: 150px;
    right: 50px;
}